* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
.editorconfig text eol=lf
*.md text eol=lf
*.ebnf text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.svg text eol=lf
*.txt text eol=lf
SHA256SUMS text eol=lf
*.xml text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.slnx text eol=lf
*.razor text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.html text eol=lf
*.css text eol=lf
*.wvproj text eol=lf
*.wvws text eol=lf
*.wvpack text eol=lf
*.wvlock text eol=lf
*.wvprov text eol=lf
*.wvapproval text eol=lf
*.wvlaunch text eol=lf
*.wvtheme binary
*.ps1 text eol=lf
*.cmd text eol=crlf
*.sh text eol=lf
*.c text eol=lf
*.h text eol=lf
*.s text eol=lf
*.asm text eol=lf
*.wv text eol=lf
*.wva text eol=lf
*.b64 text eol=lf
*.wvb binary
*.wvnf binary
*.wvo binary
*.wasm binary
*.bin binary
*.exe binary
*.elf binary
*.wvmap text eol=lf
*.efi binary
*.img binary
*.vhdx binary
*.png binary
*.jpg binary
*.woff2 binary
LICENSE text eol=lf
_headers text eol=lf
.nojekyll text eol=lf
Distribution/Installers/Templates/linux-x64/wv text eol=lf
Distribution/Installers/Templates/linux-x64/wv-verify-installation text eol=lf
Tools/Windvale.Playground/wwwroot/editor/notices/monaco-editor-ThirdPartyNotices.txt whitespace=-blank-at-eof
